<h1>Newsworthy</h1>

<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'news-search'}}Search for Topics in the News{{/link-to}}</li>
  <li>{{#link-to 'account'}}Account{{/link-to}}</li>
</ul>

{{outlet}}
